# Logs
logs/
*.log
*.log.*

# Temporary files
tmp/
*.tmp
*.temp

# Spring Boot specific files
*.war
*.jar
*.ear

# Compiled class files
target/
*.class

# Maven specific files
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
**/target/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse specific files
*.class
*.project
*.classpath
*.settings/

# STS (Spring Tool Suite) specific files
.springBeans

# VS Code
.vscode/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
